@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

:root {
  --mainBG: hsl(233, 47%, 7%);
  --cardBG: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%); /*main head, stats*/
  --mainPara: hsla(0, 0%, 100%, 0.75);
  --statHead: hsla(0, 0%, 100%, 0.6);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--mainBG);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--cardBG);
  max-width: 1110px; /* fix the overstretch issue*/
  max-height: 446px; /* fix the overstretch issue*/
  border-radius: 10px;
  margin: 1.5rem;
  overflow: hidden;
}

/* 🖼️ Image */

picture {
  /*add background color to the image container*/
  background-color: var(--accent);
  border-radius: 0 10px 10px 0;
}

img {
  /* apply the bland mode and adjust the opacity to mix it with the background color */
  mix-blend-mode: multiply;
  opacity: 0.75;
}

/* 📑 Main Section */

main {
  text-align: left;
  padding: 5rem;
}

article {
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

section {
  padding-right: 4.7rem;
}

.accent {
  display: inline;
  color: var(--accent);
}

p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 3rem;
  color: var(--statHead);
}

/* 📈 Stats */
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

ul li {
  list-style: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: var(--statHead);
}

span {
  display: block;
  padding-bottom: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--white);
}

/* 👣 Footer */
.attribution {
  position: absolute;
  font-size: 11px;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 📱 Media Query */
@media only screen and (max-width: 1150px) {
  header {
    flex-direction: column;
    max-width: 654px;
    max-height: 2000px;
  }

  picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 480px;
    border-radius: 10px 10px 0 0;
  }

  main {
    text-align: center;
    padding: 3rem;
  }

  section {
    padding: 0;
  }

  p {
    padding: 0 1rem;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    padding-bottom: 2rem;
  }
}
